<app-header [titulo]="'Alert'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="presentAlert()" color="secondary" expand="block">
    Mostrar Alert
  </ion-button>
  <ion-button (click)="presentAlertMultiple()" color="tertiary" expand="block">
    Alert con múltiples botones  
  </ion-button>
   <ion-button (click)="presentAlertPrompt()" expand="block">
    Present Prompt Alert  
  </ion-button>
</ion-content>