<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" (click)="goBack()" defaultHref="/inicio"></ion-back-button>
    <ion-title>Action Sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Action Sheet</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Página de Action Sheet</h2>
  <p>Aquí puedes agregar tu contenido de action sheets</p>

  <ion-button (click)="goToInicio()" color="primary" expand="block">
    Volver a Inicio
  </ion-button>

  <ion-button (click)="goBack()" color="secondary" expand="block">
    Regresar (historial)
  </ion-button>

</ion-content>