  <ion-toolbar>
    <app-header [titulo]="'Avatar'"></app-header>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/capibara.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-chip color="primary" outline="true"
            *ngFor="let item of [1,1,1,1,1,1]">
    <ion-avatar>
      <ion-img src="/assets/capibara.jpg"></ion-img>
    </ion-avatar>
       Capibara
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,1]">
     <ion-avatar slot="end">
        <ion-img src="/assets/capibara.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Capibara</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>