ion-content {
  --overflow: hidden;
}

swiper-container {
  height: 100%;
}

swiper-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  --bullet-background-active:pink;
}


.slide-1{
    background-color: red;
    height: 100%;
}
.slide-2{
    background-color: blue;
    height: 100%;
}
.slide-3{
    background-color: green;
    height: 100%;
}